<% layout("/layouts/boilerplate") %>

  <div class="show-container">
    <div class="listing-header">
      <h3>
        <%= listing.title %>
      </h3>
    </div>

    <div class="show-card">
      <img src="<%= listing.image.url %>" class="show-img" alt="listing_image">

      <div class="show-card-body">
        <p class="owner-text"><i>Owned by: <%= listing.owner.username %></i></p>
        <p class="description-text">
          <%= listing.description %>
        </p>
        <p class="price-text">&#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="location-text">
          <%= listing.location %>
        </p>
        <p class="country-text">
          <%= listing.country %>
        </p>

        <% if (currUser) { %>
          <% const isFavorite=currUser.favorites && currUser.favorites.includes(listing._id.toString()); %>
            <% if (!isFavorite) { %>
              <form action="/favorites/<%= listing._id %>" method="POST">
                <button class="fav-btn add"><i class="fa-solid fa-heart"></i> Add to Favorites</button>
              </form>
              <% } else { %>
                <form action="/favorites/<%= listing._id %>?_method=DELETE" method="POST">
                  <button class="fav-btn remove"><i class="fa-solid fa-xmark"></i>Remove from Favorites</button>
                </form>
                <% } %>
                  <% } %>
      </div>
    </div>

    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="owner-buttons">
        <a href="/listings/<%= listing._id %>/edit" class="btn-edit btn">Edit</a>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
          <button class="btn-delete btn">Delete</button>
        </form>
      </div>
      <% } %>

        <% if (currUser) { %>
          <div class="booking-box" style="border: 1px solid #ccc; padding: 1rem; margin-top: 2rem;">
            <h4>Book This Stay</h4>
            <form action="/listings/<%= listing._id %>/book" method="POST">
              <input type="hidden" name="listingId" value="<%= listing._id %>">

              <div class="mb-3">
                <label for="checkIn">Check-In:</label>
                <input type="date" name="checkIn" id="checkIn" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="checkOut">Check-Out:</label>
                <input type="date" name="checkOut" id="checkOut" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="guests" class="form-label">Number of Guests</label>
                <input type="number" class="form-control" id="guests" name="guests" min="1" max="10" required>
              </div>

              <button class="btn btn-primary" type="submit" style="background-color: #fe424d;">Book Now</button>
            </form>
          </div>
          <% } else { %>
            <p><a href="/login">Log in</a> to book this stay.</p>
            <% } %>


              <div class="review-section">
                <hr />
                <% if (currUser) { %>
                  <h4>Leave a Review</h4>
                  <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate class="review-form">
                    <label for="rating">Rating</label>
                    <fieldset class="starability-heart">
                      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked />
                      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                      <label for="first-rate1" title="Terrible">1 star</label>
                      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                      <label for="first-rate2" title="Not good">2 stars</label>
                      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                      <label for="first-rate3" title="Average">3 stars</label>
                      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                      <label for="first-rate4" title="Very good">4 stars</label>
                      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                      <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <label for="comment">Comment</label>
                    <textarea name="review[comment]" id="comment" rows="5" required></textarea>
                    <div class="invalid-feedback">Please add some comments</div>

                    <button class="submit-review-btn">Submit</button>
                  </form>
                  <hr />
                  <% } %>

                    <p><b>All Reviews</b></p>
                    <div class="reviews-grid">
                      <% for (review of listing.reviews) { %>
                        <div class="review-card">
                          <h5>@<%= review.author.username %>
                          </h5>
                          <p class="starability-result" data-rating="<%= review.rating %>"></p>
                          <p>
                            <%= review.comment %>
                          </p>
                          <form action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE"
                            method="post">
                            <button class="review-delete-btn">Delete</button>
                          </form>
                        </div>
                        <% } %>
                    </div>
              </div>

  </div>